<!DOCTYPE html>
<html lang="en" ng-app="formApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynamic Forms</title>

    <link href="css/app.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="formDesignController">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bootstrap theme</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="Simple.html">Home</a></li>
                    <li class="active"><a href="#">Design Form</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container theme-showcase" role="main">
        <button class="btn btn-danger pull-right" ng-click="formLayout = {title:'', formType:'', creator:'Luke Haites', formBlocks: [{blockFields:[]}]}">Clear All</button>
        <h1>
            <label for="layoutType">Form Layout Name</label>
            <input ng-model="formLayout.formType" id="layoutType">
        </h1>

        <h3>
            <label for="layoutTitle">Form Title</label>
            <input ng-model="formLayout.title" id="layoutTitle">
        </h3>

        <div ng-repeat="block in formLayout.formBlocks | orderBy:'blockSort'">
            <hr>
            <p>
                <label for="blockName">Block Name</label>
                <input ng-model="block.blockName" id="blockName">
            </p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 10%">Id</th>
                        <th style="width: 15%">Label</th>
                        <th style="width: 10%">Type</th>
                        <th style="width: 55%">Placeholder Text</th>
                        <th style="width: 5%"></th>
                        <th style="width: 5%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="formField in block.blockFields">
                        <td>{{formField.fieldId}}</td>
                        <td>{{formField.fieldLabel}}</td>
                        <td>{{formField.fieldType}}</td>
                        <td>{{formField.fieldPlaceholder}}</td>
                        <td><button ng-click="editField(formField)">Edit</button></td>
                        <td><button ng-click="block.blockFields.splice($index, 1)">Delete</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button ng-click="newField(block.blockFields)">New</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button ng-click="formLayout.formBlocks.push({blockFields: []})">add block</button>

        <hr>

        <div class="panel panel-primary" ng-controller="formDisplayController">
            <div class="panel-heading"><h3 class="panel-title">Form Preview</h3></div>
                <div class="panel-body">
                    <h3>{{formLayout.title}}</h3>
                    <form role="form" name="newForm" style="padding-left: 20px; padding-right: 20px">
                        <fieldset>
                            <div ng-repeat="block in formLayout.formBlocks | orderBy:'blockSort'" class="row">
                                <hr>
                                <h4>{{block.blockName}}</h4>
                                <div ng-repeat="formField in block.blockFields" class="form-group col-md-4">
                                    <label for="{{formField.fieldId}}">{{formField.fieldLabel}}</label>
                                    <span ng-hide="formField.fieldType=='selection'">
                                        <input ng-model="formData[formField.fieldId]" id="{{formField.fieldId}}" type="{{formField.fieldType}}" placeholder="{{formField.fieldPlaceholder}}" class="form-control"/>
                                    </span>
                                    <span ng-show="formField.fieldType=='selection'">
                                        <select ng-model="formData[formField.fieldId]" id="{{formField.fieldId}}" class="form-control" ng-options="option.optionValue for option in formField.fieldOptions">
                                            <!--<option ng-repeat="option in formField.fieldOptions">{{option.optionValue}}</option>-->
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <div>
                        <!--{{formLayout | json}}
                        {{formData | json}}-->
                    </div>
                </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/browsecontroller.js"></script>
    <script src="js/services/DataService.js"></script>
</body>
</html>