<div ui-view="header" autoscroll="false">
    <div class="navbar">
        <div class="row">
            <div class="col-xs-8 col-sm-4 col-md-6">
                <div class="logocontainer">
                    <img class="img-responsive" src="media/Unity.png">
                </div>
            </div>
            <div class="col-xs-4 col-sm-8 col-md-6 profile-container">
                <div class="profile">
                    <ul>
                        <li><span id="welcome_message" class="ng-binding">admin@unity.com</span></li>
                        <li><a class="btn btn-block" id="logout"
                               href="https://www.supplierjunction.com/#/logout/">
                            <span class="glyphicon glyphicon-log-out"></span>
                            <span class="label">Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>